upstream server { server middle:9000; }
                                               
server {
    listen 80 default_server;

    location /${SERVER_PREFIX} {
        rewrite /${SERVER_PREFIX}/?(.*) /$1 break;
        fastcgi_pass server;
        include fastcgi_params;
        add_header 'Access-Control-Allow-Origin' '*';
    }

    location / {
        add_header 'Access-Control-Allow-Origin' '*';
        root /usr/share/nginx/html/;
    }
}