name: Build and publish full generation Docker image

on:
  workflow_dispatch:
    inputs:
      output_image_tag:
        description: 'Output docker image tag'
        required: true
      corecpp_tag:
        description: 'C++ library version'
        required: true
      generation_tag:
        description: 'Generation tools tagged version'
        required: true
      tools_tag:
        description: 'Managment tools tagged version'
        required: true
      pregeneration_tag:
        description: 'Pregeneration tools tagged version'
        required: true
      coreperl_tag:
        description: 'Perl libraries tagged version'
        required: true
      tilematrixsets_tag:
        description: 'Tile matrix sets tagged version'
        required: true
        default: '4.0'
      styles_tag:
        description: 'Styles tagged version'
        required: true
        default: '4.0'

jobs:
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3
      
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build and push Docker image
        uses: docker/build-push-action@v3
        with:
          context: build/fullgeneration/
          push: true
          file: build/fullgeneration/debian11.Dockerfile
          tags: |
            rok4/fullgeneration:${{ github.event.inputs.output_image_tag }}
          build-args: |
            ROK4TILEMATRIXSETS_VERSION=${{ github.event.inputs.tilematrixsets_tag }}
            ROK4COREPERL_VERSION=${{ github.event.inputs.coreperl_tag }}
            ROK4PREGENERATION_VERSION=${{ github.event.inputs.pregeneration_tag }}
            ROK4STYLES_VERSION=${{ github.event.inputs.styles_tag }}
            ROK4GENERATION_VERSION=${{ github.event.inputs.generation_tag }}
            ROK4TOOLS_VERSION=${{ github.event.inputs.tools_tag }}
            ROK4CORECPP_VERSION=${{ github.event.inputs.corecpp_tag }}

      - name: Docker Hub Description
        uses: peter-evans/dockerhub-description@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
          repository: rok4/fullgeneration
          short-description: 'Suites de prégénération, génération et gestion du projet ROK4'
          readme-filepath: build/fullgeneration/README.md