name: Build and publish generation Docker image

on:
  workflow_dispatch:
    inputs:
      server_tag:
        description: 'Generation tools tagged version'
        required: true
      styles_tag:
        description: 'Styles tagged version'
        required: true
        default: '4.0'

jobs:
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3
      
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build and push Docker image
        uses: docker/build-push-action@v3
        with:
          context: build/generation/
          push: true
          file: build/generation/debian11.Dockerfile
          tags: |
            rok4/generation:${{ github.event.inputs.generation_tag }}
          build-args: |
            ROK4STYLES_VERSION=${{ github.event.inputs.styles_tag }}
            ROK4GENERATION_VERSION=${{ github.event.inputs.generation_tag }}

      - name: Docker Hub Description
        uses: peter-evans/dockerhub-description@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
          repository: rok4/generation
          short-description: 'Outils de génération du projet ROK4 : réechantillonnage, reprojection...'
          readme-filepath: build/generation/README.md